<div class="row">
    <div class="col-12 col-md-6 col-xl-6 p-4 background-color">
        <img class="img-fluid" src="assets/img/playing-kid.png" alt="Playing kid">
    </div>
    <div class="col-12 col-md-6 col-xl-6 text-center text-theme">
        <h1 class="pt-5">Wel come to our page</h1>
        <p class=" h4">We welcome you for this page. 
            It is a platform created by many stakeholders and 
            community leaders for the benefit of students as a whole. 
            We call every students to use it. Currently you are 
            able to test yourself by the question papers, and we will approach you with more 
            features in the future.
        </p>
        <button class="btn theme text-white" routerLink='/institutes'>Start Quiz</button>
    </div>
</div>