<div class="text-center mt-4 ">
    <h1>Contact us</h1>
    <p class="light">Hello!<br> This is an initiative by a bunch of students. And now it is in developing stage. Feel
        free to inform / report us any issues you find. Also, you can contact us with any inquiries and suggestions.
        Your ideas and words will make us strong and help us to grow. Thank You.</p>
    <hr>
    <div class="row text-theme">
        <div class="card w-100 m-2 p-2">
            <div class="row ">
                <div class="col-4 ">
                    <h1><i class="fas fa-envelope-open-text"></i></h1>
                </div>
                <div class="col-8">
                    <h1>info@schoolbag.pro</h1>
                </div>
            </div>
        </div>
        <div class="card w-100 m-2 p-2">
            <div class="row ">
                <div class="col-4">
                    <h1><i class="fas fa-phone"></i></h1>
                </div>
                <div class="col-8">
                    <h1>0774766597</h1>
                </div>
            </div>
        </div>
        <div class="card w-100 m-2">

            <h3>Follow us on</h3>
            <div class="h1">
                <span class="click p-4"><a href="https://www.youtube.com/channel/UCRKUDTTIBIRkgF__ojJ3gHw"
                        style="color: #FF0000;"><i class="fab fa-youtube"></i></a></span>
                <span class="click p-4"><a href="https://www.linkedin.com/company/schoolbag" style="color: #0077b5;"><i
                            class="fab fa-linkedin"></i></a></span>
                <span class="click p-4"><a href="https://www.facebook.com/schoolbagsrilanka/" style="color: #3b5998;"><i
                            class="fab fa-facebook"></i></a></span>
            </div>
        </div>
    </div>