
<app-loader *ngIf= 'showLoader' class="text-center"></app-loader>
<div class=" row">
    <div class="card m-2 col-sm-12" *ngFor="let institute of institutes">
        <div class="row">
            <div class="col-4">
                <!-- Card image -->
                <div class="view overlay">
                    <img class="p-3 img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <!-- Card content -->
            <div class="card-body col-8">

                <!-- Title -->
                <h4 class="card-title">{{institute.name}}</h4>
                <!-- Text -->
                <p class="card-text">{{institute.city}}</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                
                <div class="row">
                    <span *ngFor="let exam of institute.available">
                        <button type="button" class="btn theme text-white btn-md" (click)="OnClick(institute._id,exam)">{{exam}}</button>

                    </span>
                </div>
            </div>
            <!-- Card content -->

        </div>
    </div>
</div>