.answer{
    background-color: rgb(198, 220, 241);
    /* border-radius: 20px; */
    color: #360310;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    word-wrap: break-word;
    user-select:none;
}
.answer:hover{
    color: #f18ba5;
    background-color: #360511;
}
.answer:active{
    color: #f5dfe4;
    background-color: #272626;
}
.answer-check{
    width: 40px;
    height: 40px;
}